#fascia{
    background-color: limegreen;
    width: 100%;
    height:15vh;
    position:fixed;
    z-index: 99;
}

.titolo{
    position:relative;
    color: white;
    line-height: normal;
    display: inline-block;
    font-size: 5vh;
    z-index:inherit;
}

#boxMenu{
    text-align: center;

    position:absolute;
    top: 50%;
    width: 40vw;
    transform: translateY(-50%);

    background-color: white;
    z-index:inherit;

    display: inline-flex;
    align-items:center;
    justify-content:center;

    padding:4px;
    margin-left:15%;
    height:6vh;
}

.elMenu{
    border:2px solid black;
    width:100%;
    height: 100%;

    display:flex;
    align-items:center;
    justify-content:center;
}